#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300 ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.2em);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0 auto; /* Centers the logo */
}

@media (prefers-reduced-motion: no-preference) {
  /* finds the 1st anchor tag in the header and apply animation */
    a:nth-of-type(1) .logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
